main {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

section {
  font-size: 2em;
  height: 25vh;
  border: 1px solid violet;
  background-color: tomato;
}
@media screen and (min-device-width: 1200px) {
  /* section
    {
      background-color: blue;
    } */
  /* computadores */
}
@media screen and (min-device-width: 481px) and (max-device-width: 800px) {
  body {
    background-color: blue;
  }
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  section {
    background-color: lightgreen;
  }
  /* tablets */
}
@media screen and (max-device-width: 480px) {
  main {
    grid-template-columns: 1fr;
  }
  section {
    background-color: lightcoral;
  }
  /* celulares */
}

/* (min-device-width : 320px) and */
