* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

header {
  background-color: #4986b8;
  color: white;
  height: 40px;
  padding: 20px;
  width: 100%;
}

main {
  height: 77vh;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  gap: 10px;
}

main aside,
main section {
  padding: 10px;
}

.left {
  background-color: moccasin;
}

section {
  background-color: aliceblue;
}

.right {
  background-color: mistyrose;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  padding: 20px;
  width: 100%;
}

@media screen and (max-device-width: 480px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
  main {
    flex-direction: column;
    max-width: 100%;
    margin: 1em 0.5em;
    font-size: 2.5em;
    padding: 0;
    min-height: 135vh;
  }
  footer {
    position: fixed;
    font-size: 2em;
  }
  .left {
    padding: 1em;
    background-color: violet;
  }
  section {
    padding: 1em !important;
    background-color: aquamarine;
  }
  .right {
    padding: 1em;
    background-color: darkgray;
  }
}
